/* ARCHIVO STYLE .CSS */
/*Variables*/
:root {
    --azulfondo: #0c122e;
    --azulClaro: #0094cf;
    --anaranjado: #ea7500;
    --grisOscuro: #1a1a1a;
    --font-size: 16px;
    --border-radius: 8px;
}
/* Selectores Básicos*/
body {
        margin: 0;
        font-family: Arial, sans-serif;
        color: #ffffff;
        background-color: var(--azulfondo);
    }
/*Lo que esta afuera del MQ se aplica cuando se tienen pantallas pequeñas como smartphone ya que la condicion es min-width: 768px*/
header{
        background-color: var(--grisOscuro);
        padding: 1px 30px;
        text-align: center;
}
header h1{
        color: var(--azulClaro);
}
header ul{
        list-style: none;
}
header ul li a{
        color: var(--azulClaro);
        font-weight: bolder;
        text-decoration: none;
}
@media (min-width: 768px) {
header {
        background-color: #1a1a1a;
        padding: 1px 30px;
}
/*Selecciona un elemento nav que esta dentro de un header*/
header nav { 
        display: flex;
        justify-content: space-between;
        align-items: center;
}
/*Selecciona un elemento h1 que esta dentro de un header*/
header h1 {
        color: var(--azulClaro);
}
/*Selecciona un elemento ul que esta dentro de un header*/
header ul {
        list-style: none;
        display: flex;
}
/*Selecciona un elemento li que esta contenido en ul y que a su vez esta dentro de un header*/
header ul li {
        margin: 0 10px;
}
header ul li a {
        color: var(--azulClaro);
        text-decoration: none;
}
header a{
        text-decoration: none;
}}       
a{
        text-decoration: none;
        color: black;
}
/*Configuración de botón genérico, se usa para "Descargar CV"*/
#button-generic {
        font-style: normal;
        text-decoration: none;
        color: black;
}
/*Hover indica que ocurre al posicionar el puntero en el botón*/
#button-generic:hover {
        background-color: #28b31d; /* Verde más oscuro para hover */
        color: black; /* Texto ligeramente más claro en hover */
        border-color: #28b31d; /* Cambia el borde en hover */
        text-decoration: none;
}
/*CONFIG de primera seccion dentro del main, donde se encuentra el video botones y texto*/
#hero h2 {
        color: #3ede25;
}
#hero button {
        padding: 10px 20px;
        border: none;
        background-color: #3ede25;
        color: #0d0d0d;
        cursor: pointer;
        font-size: 16px;
}
/* Estilo de la Sección Hero */
#hero {
    position: static; /*Me ayudo a mantener la ventana en el tamaño justo sin que se saliera de la ventana*/
    height: 50vh; /* Ocupa toda la ventana del navegador si usamos 100vh*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff; /* Color del texto sobre el video */
    overflow: hidden; /* Asegura que el video no salga del contenedor */
}
/* Video de fondo */
#hero-video {
    position:absolute;
    top: 26%; /*Se asegura de que en smartphone el video se centre en el hero*/
    left: 50%; /*Se asegura de que en smartphone el video se centre en el hero*/
    transform: translate(-50%, -50%);
    width: 100%; /* Ajusta el ancho del video */
    height: 100%; /* Ajusta la altura del video */
    object-fit: cover; /* Asegura que el video cubra todo el contenedor */
    z-index: -2; /* Coloca el video debajo del overlay */
}
/* Overlay Fondo Oscuro (Transparencia) sobre el Video */
#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
    z-index: -1; /* Capa sobre el video pero debajo del contenido */
}
/* Contenido Principal */
.hero-content {
    position: relative;
    text-align: center;
    z-index: 1; /* Asegura que el contenido esté sobre el overlay */
    padding: 30px;
}
@media (min-width: 768px) {
#hero {
        position: static; /*Me ayudo a mantener la ventana en el tamaño justo sin que se saliera de la ventana*/
        height: 50vh; /* Ocupa toda la ventana del navegador */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ffffff; /* Color del texto sobre el video */
        overflow: hidden; /* Asegura que el video no salga del contenedor */
}
/* Video de fondo */
#hero-video {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%; /* Ajusta el ancho del video */
        height: 100%; /* Ajusta la altura del video */
        object-fit: cover; /* Asegura que el video cubra todo el contenedor */
        z-index: -2; /* Coloca el video debajo del overlay */
}
/* Overlay Fondo Oscuro (Transparencia) sobre el Video */
#hero::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Fondo negro semitransparente */
        z-index: -1; /* Capa sobre el video pero debajo del contenido */
}
/* Contenido Principal */
.hero-content {
        position: relative;
        text-align: center;
        z-index: 1; /* Asegura que el contenido esté sobre el overlay */
}
.hero-content h2 {
        font-size: 2.5rem;
        margin-bottom: 10px;
        color: var(--azulClaro);
}
.hero-content p {
        font-size: 1.2rem;
        margin-bottom: 20px;
}
.hero-content button {
        padding: 10px 20px;
        font-size: 1rem;
        background-color: #3ede25;
        color: #0d0d0d;
        border: none;
        border-radius: 5px;
        cursor: pointer;
}
.hero-content button:hover {
        background-color: #28b31d;
}
}
/*INICIA SECCION ABOUT ME*/
#about, #projects, #certified, #contact {
        padding: 50px 50px;
}
.about-container {
        display: grid;
        grid-template-columns: 2fr 1fr; /* 2 partes para el texto, 1 para la imagen */
        gap: 20px;
        align-items: start;
}
.about-description{
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
}
.about-upload-photo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border: 1px solid;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Mi Foto */
.about-upload-photo img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
}
/* Media Query para Pantallas Pequeñas */
@media (max-width: 768px) {
    .about-container {
        grid-template-columns: 1fr; /* Apila los elementos en una sola columna */
    }
    .about-upload-photo {
        margin-top: 20px;
    }
}
/*INICIA SECCION DE ESTUDIOS*/
.certified {
        background-color: #1a1a1a;
        padding: 20px;
        margin: 20px 0;
        border-radius: 5px;
}
.certified h3 {
        color: #3ede25;
}
/* Botones de Descarga de Certificados y Diplomas*/
.download-button {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 15px;
        background-color: #28831a; /* Fondo verde de tu paleta */
        color: #ffffff; /* Texto blanco */
        border: 1px solid #28831a; /* Borde del mismo verde */
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra sutil */
        transition: background-color 0.3s ease, color 0.3s ease;
}
.download-button:hover {
        background-color: #28b31d; /* Verde más oscuro para hover */
        color: #f0f0f0; /* Texto ligeramente más claro en hover */
        border-color: #28b31d; /* Cambia el borde en hover */
}
/* INICIA SECCION DE CONTACTO */
#contact {
        display: grid;
        background-color: #1a1a1a;
        padding: 50px 50px;
        margin: 20px 50px;
        border-radius: 5px; /* Hace que la sección ocupe toda la altura de la ventana */
        place-items: center;
}
#contact-info {
        position: relative;
        top: 45%;
        left: 0;
        transform: translateY(-50%);
        width: 300px; /* Ajusta el ancho según sea necesario */
        padding: 0 20px;
        background-color: #0d0d0d;
        color: #ffffff;
        border: 2px solid #3ede25;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
}
#contact-info h2 {
        margin-bottom: 20px;
        font-size: 20px;
        text-align: left;
        color: #3ede25;
}
.contact-container p {
        margin-bottom: 15px;
}
.contact-container ul {
        list-style: none;
        padding: 0;
}
.contact-container li {
        margin-bottom: 10px;
}
/* Estilos de los Enlaces */
.contact-container a {
        text-decoration: none;
        color: #3ede25;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 10px;
        transition: color 0.3s;
}
.contact-container a:hover {
        color: #28b31d;
}
/* Estilo de los Iconos */
.contact-container i {
        font-size: 20px;
}
/* Botón de Copiar Email */
#copy-email {
        margin-left: 10px;
        padding: 5px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #3ede25;
        font-size: 16px;
        transition: color 0.3s;
}
#copy-email:hover {
        color: #28b31d;
}
/* BOTON PARA ENVIAR WHATSAPP*/
#send-whatsapp {
        display: flex;
        align-items: center;
        padding: 8px 13px;
        background-color: #24bd5c; /* Color verde de WhatsApp */
        color: #ffffff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
}
#send-whatsapp:hover {
        background-color: #159245; /* Verde más oscuro en hover */
}
#send-whatsapp i {
        margin-right: 8px;
        font-size: 20px;
}
/* Contenedor del Formulario */
#contact-form {
        width: 50%; /* Ocupa 1.5fr de un diseño basado en 3fr */
        max-width: 500px; /* Máximo ancho para pantallas grandes */
        padding: 20px;
        background-color: #0d0d0d;
        border: 1px solid #3ede25;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        color: #ffffff;
}
/* Estilo del Formulario */
form label {
        display: block;
        margin-top: 10px;
}
form input, form textarea {
        width: 100%;
        padding: 10px;
        margin: 5px -10.5px;
        background-color: #0d0d0d;
        border: 1px solid #3ede25;
        color: #ffffff;
        border-radius: 3px;
}
form button {
        padding: 10px 20px;
        border: none;
        background-color: #3ede25;
        color: #0d0d0d;
        cursor: pointer;
        margin-top: 10px;
        width: 100%; /* Botón ocupa todo el ancho del formulario */
}
form button:hover {
        background-color: #28b31d;
}
/* INICIA SECCION DE PROYECTOS*/
.project {
        background-color: #1a1a1a;
        padding: 20px;
        margin: 20px 0;
        border-radius: 5px;
}
.project h3 {
        color: #3ede25;
}